body {
	font-family: 'Lato', sans-serif;
}

#credentials {
	width: 600px;
  	margin: auto;
  	text-align: center;
}

#credentials h1 {
	font-weight: normal;
}

#field {
	width: 50%;
	height: 100%;
	margin: auto;
	background-color: #f2f2f2;
	padding: 10px;
	border-radius: 5px;
}
input {
	width: 170px;
	text-align: left;
	margin: auto;
	margin-bottom: 10px;
	border-radius: 1px;
	padding: 3px;
}

label {
	text-align: left;
	float: left;
	width: 100px;
	padding: 3px;
}

#passwordSignin {
	width: 50%;
	text-align: center;
	margin-bottom: 0;
}

#container {
	width: 60%;
	margin: auto;
}

#helloLogo {
	float: left;
}

#helloText {
	float: left;
	width: 350px;
	text-align: left;
	margin-left: 30px
}

#helloText h2 {
	font-weight: normal;
	margin: 30px 0 0 0;
}

#setupWindowsHello {
	clear: both;
	width: 65%;
	text-align: left;
	margin: auto;
	display: none;
}

#setupWindowsHello h2 {
	font-weight: normal;
}

button {
	padding: 5px;
	margin-right: 10px;
	margin: auto;
}

a:visited {
	color: blue;
}

#passwordLink, #helloLink {
	margin-top: 10px;
	color: rgb(38, 114, 236);
	font-size: 70%;
	text-decoration: none;
}